.background-img {
    background-image: url("/landing-page-india/assets/bg.jpg");
    height: 750px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-img {
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.anchor{
    text-decoration: none !important;
}

.footer-style {
    background-color: #1a1a2e;
    color: white;
    width: 100%;
    padding: 20px 10px 10px 20px;
}
